@import "base/_reset.sass"
@import "utlils/_variables.sass"
@import "utlils/_mixins.sass"

body
    background-color: white

.wrapper 
    min-width: 280px
    min-height: 400vh
    margin: 0 auto
    font-family: 'Roboto Slab', serif
    
    
@import "components/_header.sass"

main
    padding-top: 84px
    max-width: 1280px
    margin: 0 auto
    @include mediaQ(731px)
        padding-top: 154px


@import "components/_showcase.sass"
@import "components/_aboutMe.sass"
@import "components/_projects.sass"
@import "components/_contact.sass"
@import "components/_footer.sass"