@import "base/_reset.sass"
@import "utlils/_variables.sass"


.wrapper 
    max-width: 1280px
    min-height: 100vh
    margin: 0 auto

@import "components/_showcase.sass"
@import "components/_about_me.sass"
@import "components/_projects.sass"
@import "components/_contact.sass"
@import "components/_footer.sass"