.showcase
    height: 100vh
    background-color: blue
    position: relative
    .fa-signal
        position: absolute
        font-size: 50px
        top: 20px
        right: 20px
        color: white
        transform: rotate(-90deg) scaleY(-1)